body {
margin: 0;
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #4c0bd1, #7328d6);
color: white;
text-align: center;
}


.logo {
width: 120px;
margin-top: 20px;
}


nav {
margin-top: 15px;
}


nav a {
color: white;
margin: 0 15px;
font-size: 18px;
text-decoration: none;
}


nav a.active {
border-bottom: 2px solid white;
}


.container {
width: 90%;
max-width: 900px;
margin: 40px auto;
background: rgba(255,255,255,0.15);
padding: 25px;
border-radius: 15px;
}


table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}


table th, table td {
padding: 12px;
background: rgba(255,255,255,0.15);
}


input, select {
padding: 10px;
width: 80%;
margin: 10px;
border: none;
border-radius: 8px;
}


button {
padding: 10px 20px;
border: none;
border-radius: 8px;
background: white;
color: #4c0bd1;
font-weight: bold;
cursor: pointer;
}